body {
  font-family: 'Cairo', sans-serif;
  margin: 0;
  background-color: #ebebeb;
  position: relative;
  overflow-y: scroll; /* تمكين التحرك للأسفل وللأعلى */
  width: auto;
  max-width: 100%; /* لضمان عدم تجاوز العرض الكامل للصفحة */
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 100%; /* لضمان عدم تجاوز العرض الكامل للصفحة */
}

.header {
  position: relative;
  top: 0;
  width: 100%;
  max-width: 100%; /* لضمان عدم تجاوز العرض الكامل للصفحة */
  z-index: 1000;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-top: 6rem; /* زيادة المسافة بين Header و card/DataDisplay */
  padding-bottom: 3cap;
}

.card, .data-container-wrapper {
  margin-bottom: 3cap;
}

.footer {
  position: relative;
  width: 100%;
  max-width: 100%; /* لضمان عدم تجاوز العرض الكامل للصفحة */
  z-index: 1000;
  margin-top: auto;
  font-family: 'Cairo', sans-serif;
}  