body {
    font-family: 'Cairo', sans-serif;
    margin: 0;
}

.hamburger-dropdown a {
    font-family: 'Cairo', sans-serif;
}

.header {
    background-color: #f6f6f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 20px 0px;
    margin: 0 0 0 0;
}
.logo {
    align-self: flex-end;
    padding: 0px 20px 0px 0px;
    height: 50px;
    display: flex;
    margin-left: auto; /* لضمان أن الشعار على أقصى اليمين */
}

.hamburger {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 23px;
    cursor: pointer;
    padding-left: 25px;
}

.line {
    height: 3px;
    width: 85%;
    border-radius: 2px;
    background-color: #366fb5;
}

.hamburger-dropdown {
    display: none;
    position: fixed;
    top: 0;
    left: 0; /* نقل اليمين إلى 20px */
    right: 0;
    bottom: 0;
    background-color: #f6f7f9;
    z-index: 1000;
    animation: slideDown 0.3s ease;
    padding: 0;
    width: 100%;
    max-height: 30%;
    overflow-y: auto;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.hamburger-dropdown a {
    display: block;
    margin: 13px 0;
    color: #08458f;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    width: 100%;
}

.close-btn {
    position: absolute;
    top: 20px; /* نقل اليمين إلى 20px */
    left: 30px;
    border-radius: 2px;
    cursor: pointer;
    color: #08458f;
    font-size: 24px;
    padding: 0px 0px 0px 20px;
}