body {
  font-family: 'Cairo', sans-serif;
  background-color: #ebebeb;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.card {
  background-color: white;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  font-family: 'Cairo', sans-serif;
  padding: 1.5cap;
  width: 90%;
  max-width: 330px;
  margin: auto;
  padding-bottom: 5cap;
}

.h1 {
  color: #0957b6;
  font-size: 26px;
  margin-bottom: 3px;
  text-align: center;
  margin-top: -20px;
}

.highlight {
  position: relative;
  z-index: 1;
}

.highlight::before {
  content: '';
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 0.8em;
  background-color: rgba(121, 180, 220, 0.35);
  z-index: -1;
}

.h2 {
  color: #737373;
  font-size: 13px;
  font-weight: lighter;
  text-align: center;
  padding-right: 13px;
}

.error-message {
  color: #ff0000;
  margin-bottom: 5px;
  font-size: 10px;
  text-align: center;
  visibility: hidden;
  font-family: 'Cairo', sans-serif;
}

.input-group-1,
.input-group-2 {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  margin-top: 1cap;
  font-family: 'Cairo', sans-serif;
}
.input-group-2 {
  margin-bottom: 2cap;
}

input {
  width: 300px;
  padding: 5px;
  border: 1pt solid #dfdfdf;
  border-radius: 5px;
  font-size: 13px;
  color: #737373;
  transition: border-color 0.3s ease;
  height: 20px;
  margin: 0px;
  font-family: 'Cairo', sans-serif;
}

input:focus {
  outline: none;
  border-color: #71bbdd;
}

button {
  box-shadow: 0px 7px 30px -10px rgba(var(--color_primary_default_rgb), 0.1);
  background-color: rgb(39, 104, 183);
  font-family: Cairo;
  font-size: 12px;
  font-weight: normal;
  color: white;
  text-align: center;
  border: solid 1px rgb(127, 149, 235);
  border-radius: 5px;
  padding: 5px 7px;
  opacity: 1;
  transition: background 200ms;
  cursor: pointer;
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 1.5cap;
  width: 95px;
  height: 23pt;
}

button:hover {
  background-color: #415184;
}

.password-recovery {
  font-size: small;
  align-self: flex-start;
  text-align: right;
} 